<div class="container body-content">

    <div class="jumbotron">
        <h1>Shop Framework</h1>
        <p class="lead">This is simply a test Shop Framework build with Angular and Typescript </p><p>
        </p><p><button ui-sref="items" class="btn btn-primary btn-large" type="button">Order Some Food »</button></p>
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>

    </div>
    <hr>
    <footer>
        <p>&copy; 2016 - Shop Framework by <a class="githubLink" href="https://github.com/piotrmalecki">maly161</a></p>
    </footer>
</div>